<?xml version="1.0" encoding="UTF-8"?> 
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:b="http://www.springframework.org/schema/beans"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.0.xsd">
    <http auto-config="true" access-denied-page="/access-denied.xhtml"> 
        <form-login login-page="/login.xhtml" authentication-failure-url="/login.xhtml?erro=true"/>
        <intercept-url pattern="/index.xhtml" access="ROLE_SIS"/> 
        <intercept-url pattern="/modulos/**" access="ROLE_SIS"/> 
    </http> 
    <authentication-manager> 
        <authentication-provider>
            <password-encoder hash="md5"/>
            <jdbc-user-service data-source-ref="dataSource"
                                   users-by-username-query="SELECT u.usr_login ,u.usr_senha,u.usr_ativo from seguranca.usuario u
                                                            WHERE  (u.usr_ativo = TRUE) and (u.usr_login = ?)"
                                   authorities-by-username-query="SELECT u.usr_login, 'ROLE_SIS' from seguranca.usuario u WHERE  (u.usr_login = ?)"
            />
        </authentication-provider>
<!--        <authentication-provider>
            <user-service>
                <user name="adm" password="123" authorities="ROLE_SIS" />
            </user-service>
        </authentication-provider>-->
    </authentication-manager>


    <b:bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <b:property  name="jndiName" value="java:jboss/datasources/cgcop"/>
    </b:bean>
</b:beans>